<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>
                <img src="~/Images/icon-96-xhdpi.png" />
            </p>
        </div>
        <div class="col-md-9">
            <h1>Aplicativo Tem Gente</h1>
        </div>
    </div>
    
    <div class="row">
        <p align="center">
            <!-- wwwAd1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9278274121196072"
                 data-ad-slot="8447342426"
                 data-ad-format="auto"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </p>
    </div>

    <div class="row">
        <p>O aplicativo <strong>tem gente</strong> permite gerenciar locais, desde banheiro (que foi a inspiração para o aplicativo), até salas de reunião, salões de festas em condominios ou até mesmo criar um local com seu próprio nome, para que todos as pessoas que compartilharem esse local, saibam se você está ou não ocupado, antes de entrarem em contato com você.</p>
        <p>Vamos usar como exemplo uma quadra de futebol. Imagine você, no seu apartamento, resolve jogar aquela partida de futebol na quadra do condomínio. Então, você liga para seus colegas, monta aquele time e vai até a quadra, chegando lá, descobre que a quadra está ocupada :/ frustrante né ?</p>
        <p>Com o aplicativo <strong>tem gente</strong>, você pode (no conforto do seu sofá), acessar o aplicativo e verificar se a quadra está livre ou ocupada, antes mesmo de chamar os colegas para a partida.</p>
        <p>Simples ? SIM :) Essa é a idéia. Tudo depende da criatividade do usuário. Quanto mais locais você e seus colegas conseguirem adicionar e gerenciar pelo aplicativo, mais minutos serão salvos no seu dia, na sua semana, no seu mês... na sua vida. oO</p>
    </div>
    
    <div class="row">
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.rcelebrone.temgente">
                <img alt="Faça download agora mesmo na google play" src="https://developer.android.com/images/brand/pt-br_generic_rgb_wo_60.png" />
            </a>
        </p>
    </div>

    <div class="row">
        <h3>Na próxima versão</h3>
        <ul>
            <li>Fix no agendamento para a versão lollipop</li>
            <li>Registro dos agendamentos com o alarme do android</li>
        </ul>
    </div>
    <div class="row" align="center">
        <div class="fb-comments" data-href="http://temgente.rcelebrone.com" data-numposts="10" data-colorscheme="light"></div>
    </div>
</div>